<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="__DOCUSIGN_ACCOUNT_BASE_URI" value="https://demo.docusign.net"/>
    <add key="__DOCUSIGN_API_ACCOUNT_ID" value=""/>
    <add key="__DOCUSIGN_INTEGRATION_KEY" value=""/>
    <add key="__DOCUSIGN_USER_ID" value=""/>
    <add key="__DOCUSIGN_APP_PASSWORD" value=""/>

    <add key="UserEmail" value=""/>
    <add key="UserName" value=""/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>