CREATE FUNCTION [dbo].[GetE3EClientUpdateXML] (
	@CLID BIGINT,
	@PROCESS_TYPE NCHAR(3) = N'E3E')
RETURNS NVARCHAR ( MAX ) AS
BEGIN
DECLARE @XML NVARCHAR ( MAX ) 

--V0.1
--SIMPLY BUILD THE STRING TO COLLECT DATA TO SEND THROUGH TO WEBSERVICE
--THIS ALLOWS FOR EASE OF CUSTOMISATION AT SITE IF USING FWBS OMS EXPORT SERVICE
--NOTE - OVERRIDES EFFECTIVE DATED DATA CURRENTLY

--OPTIONS
DECLARE @USEPROXYUSER				BIT
SET @USEPROXYUSER					= 0

--REPLACEMENT VARIABLES
--CLIENT
DECLARE @CLIENTINDEX				NVARCHAR ( 36 ) 
DECLARE @CLIENTID					NVARCHAR ( 36 )
DECLARE @DISPLAYNAME				NVARCHAR ( 128 )
DECLARE @ISPAYOR					NVARCHAR ( 1 )
DECLARE @NARRATIVE					NVARCHAR ( MAX )
DECLARE @VATREGISTRATION			NVARCHAR ( 64 )	
--CLIDATE
DECLARE @OFFICE						NVARCHAR ( 20 ) 
--PROXY AND EFFECTIVEDATE
DECLARE @PROXYUSER					NVARCHAR ( 50 )
DECLARE @NEEDEFFECTIVEDATEDUPDATE	BIT

--POPULATE THE VARIABLES
SELECT
--CLIENT
	@CLIENTINDEX					= CONVERT ( NVARCHAR ( 36 ) , CLEXTID )
	, @CLIENTID						= ISNULL ( CLEXTTXTID, '%CLIENTID%' )
	, @DISPLAYNAME					= CLNAME
	, @ISPAYOR						= '1' 
	, @NARRATIVE					= ISNULL ( CLNOTES , '' )
	, @VATREGISTRATION				= ISNULL ( DBCONTACTCOMPANY.CONTVATREGNO  , '' )
--CLIDATE
	, @OFFICE						= DBBRANCH.BRCODE
--PROXY AND EFFECTIVEDATE	
	, @PROXYUSER					= CASE WHEN @USEPROXYUSER = 1 THEN 'ProxyUser="' + UPDATEDBY.USRADID + '"' ELSE '' END 
	, @NEEDEFFECTIVEDATEDUPDATE		= DBCLIENT.clE3EEffectiveDatedNeedUpdate
FROM 
	DBCLIENT
LEFT JOIN --GET DEFAULT CONTACT TO SEE IF IT'S A COMPANY
	DBCONTACTCOMPANY ON DBCLIENT.CLDEFAULTCONTACT = DBCONTACTCOMPANY.CONTID
INNER JOIN 
	DBFEEEARNER ON DBFEEEARNER.FEEUSRID =
	 DBCLIENT.FEEUSRID
INNER JOIN 
	DBBRANCH ON DBBRANCH.BRID = DBCLIENT.BRID
INNER JOIN 
	DBUSER UPDATEDBY ON UPDATEDBY.USRID = DBCLIENT.CREATEDBY
WHERE 
	CLID = @CLID

SELECT @XML = 
'<Client_Srv xmlns="http://elite.com/schemas/transaction/process/write/Client_Srv" ' + @PROXYUSER + '>
  <Initialize xmlns="http://elite.com/schemas/transaction/object/write/Client">
   <Edit>
    <Client KeyValue = "' +
		CASE @PROCESS_TYPE
			WHEN N'E3E' THEN @CLIENTINDEX
			WHEN N'C3E' THEN @CLIENTID
		END                  + '">
     <Attributes>
      <DisplayName>' +		DBO.GETHTMLENCODE ( @DISPLAYNAME, 0 )			+ '</DisplayName>
      <Narrative>' +		DBO.GETHTMLENCODE ( @NARRATIVE, 0 )				+ '</Narrative>
	  <VATRegistration>' +	DBO.GETHTMLENCODE ( @VATREGISTRATION, 0 )		+ '</VATRegistration>
	  <PayorTaxNum>' +		DBO.GETHTMLENCODE ( @VATREGISTRATION, 0 )		+ '</PayorTaxNum>
     </Attributes>'
	 

IF @NEEDEFFECTIVEDATEDUPDATE = 1 SET @XML = @XML +'
      <Children>
	   <CliDate>
       <{0}>
        <CliDate {1}>
         <Attributes>
          <EffStart>{2}</EffStart>
          <Office>' +							@OFFICE						+ '</Office>
         </Attributes>
        </CliDate>
       </{0}>
      </CliDate>
	  </Children>'

SET @XML = @XML + '
    </Client>
   </Edit>
  </Initialize>
 </Client_Srv>'


RETURN @XML
END
