<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="URL" value="https://piptesta2a.crif.com/PIP.WSTK/PIPWSTK"/>
    <add key="UserName" value="UserName"/>
    <add key="Password" value="Password"/>
    <add key="AsUser" value="AsUser"/>
  </appSettings>
</configuration>
