<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SyncTimerLength" value="120000" />
  <add key="DoNotProcessStart1" value="20:00:00"/>
  <add key="DoNotProcessEnd1" value="23:59:59"/>
  <add key="DoNotProcessStart2" value="00:00:00"/>
  <add key="DoNotProcessEnd2" value="06:00:00"/>
  <add key="DoNotProcessEnabled" value="False"/>
  <add key="LogToFileEnabled" value="False"/>
  <add key="LogAllToEventLog" value="False"/>
  <add key="MatterSphereDatabaseServer" value="SERVERNAME"/>
  <add key="MatterSphereDatabaseName" value="DBName"/>
  <add key="MatterSphereLoginType" value="NT"/>
  <add key="MarkErroringItemsAsErrored" value="True"/>
</appSettings>