<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FWBS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="OMSExportENT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FWBS.Properties.Settings>
            <setting name="OMSExportENT_enterpriseClientService_ClientService"
                serializeAs="String">
                <value>http://test/services/clientservice.asmx</value>
            </setting>
            <setting name="OMSExportENT_enterpriseClientLoadService_ClientLoadService"
                serializeAs="String">
                <value>http://test/services/clientloadservice.asmx</value>
            </setting>
            <setting name="OMSExportENT_enterpriseMatterService_MatterService"
                serializeAs="String">
                <value>http://test/services/matterservice.asmx</value>
            </setting>
            <setting name="OMSExportENT_enterpriseMatterLoadService_MatterLoadService"
                serializeAs="String">
                <value>http://test/services/matterloadservice.asmx</value>
            </setting>
            <setting name="OMSExportENT_enterpriseTestWebService_TestWebService"
                serializeAs="String">
                <value>http://test/services/testwebservice.asmx</value>
            </setting>
            <setting name="OMSExportENT_enterpriseTimeCard_TimeCard" serializeAs="String">
                <value>http://test/services/timecard.asmx</value>
            </setting>
        </FWBS.Properties.Settings>
        <OMSExportENT.Properties.Settings>
            <setting name="OMSExportENT_enterpriseClientService_ClientService" serializeAs="String">
                <value>http://test/services/clientservice.asmx</value>
            </setting>
            <setting name="OMSExportENT_enterpriseClientLoadService_ClientLoadService" serializeAs="String">
                <value>http://test/services/clientloadservice.asmx</value>
            </setting>
        </OMSExportENT.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
