<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMatterSphereBundlerService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50234/MatterSphereBundlerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatterSphereBundlerService" contract="BundlerService.IMatterSphereBundlerService" name="BasicHttpBinding_IMatterSphereBundlerService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
