<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="msConnection" connectionString="Data Source=.;Initial Catalog={database};Persist Security Info=False;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="cdsConnection" connectionString="Data Source=.;Initial Catalog={database};Persist Security Info=False;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="scanIntervalInSeconds" value="2"/>
    <add key="queue" value="search.MSIndexQueue"/>
    <add key="cachePath" value="%PROGRAMDATA%\3E MatterSphere\MSIndex Tool\Cache\"/>
  </appSettings>
</configuration>