CREATE PROCEDURE [dbo].[sprC3EUpdateMatters]
AS
--CHECK IF A CUSTOM VERSION EXISTS - MUST RETURN SAME COLUMNS AS STANDARD VERSION
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sprC3EUpdateMatters_CUSTOM]') AND type in (N'P', N'PC'))
	EXEC [dbo].[sprC3EUpdateMatters_CUSTOM]
ELSE
SELECT
	FILEID
	, DBO.GETE3EMATTERUPDATEXML ( FILEID, N'C3E' ) AS MATTER
	, FILEEXTLINKID AS MATTINDEX
	, FILEEXTLINKTXTID AS MATTID
FROM 
	DBFILE
INNER JOIN 
	DBCLIENT ON DBCLIENT.CLID = DBFILE.CLID
WHERE 
	DBFILE.FILENEEDEXPORT = 1 AND
	ISNULL(DBFILE.FILEEXTLINKID, 0) <> -1 AND
	(DBFILE.FILEEXTLINKTXTID IS NOT NULL OR DBFILE.FILEEXTLINKID > 0)