CREATE PROCEDURE [dbo].[sprC3EExportFinancials] 
AS
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sprC3EExportFinancials_CUSTOM]') AND type in (N'P', N'PC'))
	EXEC [dbo].[sprC3EExportFinancials_CUSTOM]
ELSE
SELECT
	fl.FinLogID AS ID
	, DBO.GetE3EDisbExportXML ( fl.FinLogID, N'C3E' ) AS COSTCARDPENDING
	, DBFILE.FILEID
	, FILEEXTLINKID AS MATTINDEX
	, FILEEXTLINKTXTID AS MATTID
FROM 
	dbFinancialLedger FL
INNER JOIN 
	DBFILE ON DBFILE.FILEID = FL.FILEID
WHERE 
	FinExtID IS NULL AND finExtTxtID IS NULL AND
	FL.finNeedExport = 1  AND
	ISNULL(DBFILE.FILEEXTLINKID, 0) <> -1 AND
	(DBFILE.FILEEXTLINKTXTID IS NOT NULL OR DBFILE.FILEEXTLINKID > 0)

GO