CREATE PROCEDURE [dbo].[sprC3EExportMatters]
AS
--CHECK IF A CUSTOM VERSION EXISTS - MUST RETURN SAME COLUMNS AS STANDARD VERSION
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sprC3EExportMatters_CUSTOM]') AND type in (N'P', N'PC'))
	EXEC [dbo].[sprC3EExportMatters_CUSTOM]
ELSE
SELECT
	FILEID
	, DBO.GETE3EMATTEREXPORTXML ( FILEID, N'C3E' ) AS MATTER
	, DBFILE.CLID
	, CLEXTTXTID AS CLIENTID
FROM 
	DBFILE
INNER JOIN 
	DBCLIENT ON DBCLIENT.CLID = DBFILE.CLID
WHERE 
	DBFILE.FILENEEDEXPORT = 1 AND
	(DBCLIENT.CLEXTTXTID IS NOT NULL OR DBCLIENT.CLEXTID > 0) AND
	ISNULL(DBFILE.FILEEXTLINKID, 0) = 0 AND DBFILE.FILEEXTLINKTXTID IS NULL
