CREATE PROCEDURE [dbo].[sprE3EExportTime] 
AS
--CHECK IF A CUSTOM VERSION EXISTS - MUST RETURN SAME COLUMNS AS STANDARD VERSION
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sprE3EExportTime_CUSTOM]') AND type in (N'P', N'PC'))
	EXEC [dbo].[sprE3EExportTime_CUSTOM]
ELSE

SELECT  
	DBTIMELEDGER.ID
	, DBO.GETE3ETIMEEXPORTXML ( DBTIMELEDGER.ID, N'E3E' ) AS TIMECARDPENDING
FROM 
	DBTIMELEDGER
INNER JOIN 
	DBFILE ON DBTIMELEDGER.FILEID = DBFILE.FILEID
INNER JOIN 
	DBFEEEARNER ON DBFEEEARNER.FEEUSRID = DBTIMELEDGER.FEEUSRID
WHERE 
	DBTIMELEDGER.TIMETRANSFERRED = 0 AND			--NOT ALREADY TRANSFERRED 
	DBTIMELEDGER.TIMETRANSFERREDID IS NULL AND		--NO TRANSFERRED ID - CATERING FOR -1 INTERFACE FAILURES
	DBFILE.FILEEXTLINKID > 0 AND					--WE HAVE A VALID MATTINDEX STORED FOR THE MATTER
	DBFEEEARNER.FEEEXTID IS NOT NULL				--THE FEE EARNER IS MAPPED TO A E3E TIMEKEEPER
