CREATE PROCEDURE [dbo].[sprE3EExportContacts]
AS
--CHECK IF A CUSTOM VERSION EXISTS - MUST RETURN SAME COLUMNS AS STANDARD VERSION
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sprE3EExportContacts_CUSTOM]') AND type in (N'P', N'PC'))
	EXEC [dbo].[sprE3EExportContacts_CUSTOM]
ELSE

SELECT
	--TODO - Get Entity?  Address?
	CONTID
	, CASE CHARINDEX ( 'GeneralType="Company"' , TYPEXML )  
		WHEN 0 THEN 'EntityPerson'	--CASE SENSITIVE
		ELSE 'EntityOrg'			--CASE SENSITIVE 
	END AS ENTITYTYPE
	, CASE CHARINDEX ( 'GeneralType="Company"' , TYPEXML )  
		WHEN 0 THEN DBO.GETE3EENTITYPERSONEXPORTXML ( CONTID, N'E3E' )
		ELSE DBO.GETE3EENTITYORGEXPORTXML ( CONTID, N'E3E' )
	END AS ENTITYXML
	, CONTEXTID AS ENTITYINDEX
FROM
	DBCONTACT
INNER JOIN 
	DBCONTACTTYPE ON DBCONTACT.CONTTYPECODE = DBCONTACTTYPE.TYPECODE
WHERE 
	CONTEXTID IS NULL AND
	CONTNEEDEXPORT = 1