<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=.;Initial Catalog={database};Persist Security Info=False;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="queue" value="search.ESIndexQueue" />
    <add key="cachePath" value="%PROGRAMDATA%\3E MatterSphere\ESIndex Tool\Cache\" />
    <add key="indexURL" value="http://localhost:9200/" />
    <!-- create API key using elasticsearch API -->
    <!-- see https://www.elastic.co/guide/en/elasticsearch/reference/7.16/security-api-create-api-key.html -->
    <add key="elasticsearchApiKey" value="" />
    <add key="scanIntervalInSeconds" value="2" />
    <add key="maxThreads" value="0" />
    <add key="maxBulkSize" value="2000000" />
    <add key="maxDocumentsCount" value="100" />
    <add key="useExtendedLogs" value="False" />
    <add key="documentReadTimeoutInSeconds" value="60" />
    <add key="useOcrIndexing" value="False" />
    <add key="documentOcrReadTimeoutInSeconds" value="120" />
    <add key="dataIndexNumberOfShards" value="1" />
    <add key="dataIndexNumberOfReplicas" value="0" />
    <add key="userIndexNumberOfShards" value="1" />
    <add key="userIndexNumberOfReplicas" value="0" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>