<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${specialfolder:folder=CommonApplicationData:cached=true}/3E MatterSphere/ESIndex Tool/Logs/${shortdate}"/>
  <targets>
    <target name="logFile" xsi:type="File" fileName="${logDirectory}.txt" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="logFile" />
    <logger name="*" level="Warn" writeTo="logFile" />
    <logger name="*" level="Error" writeTo="logFile" />
  </rules>
</nlog>