<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="DbConnection" value="Data Source=.;Initial Catalog={database};Persist Security Info=False;Integrated Security=true;" />
    <add key="Queue" value="search.ESIndexQueue" />
    <add key="Interval" value="5000" />
    <add key="ElasticsearchServer" value="http://localhost:9200" />
    <!-- create API key using elasticsearch API -->
    <!-- see https://www.elastic.co/guide/en/elasticsearch/reference/7.17/security-api-create-api-key.html -->
    <add key="ElasticsearchApiKey" value="" />
    <!-- comma-separated list of language analyzers -->
    <!-- see https://www.elastic.co/guide/en/elasticsearch/reference/7.17/analysis-lang-analyzer.html -->
    <add key="languageAnalyzers" value="english" />
    <!-- iFilter Test Configuration -->
    <add key="documentReadTimeoutInSeconds" value="60" />
    <add key="documentOcrReadTimeoutInSeconds" value="120" />
    <add key="useOcrIndexing" value="False" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>