<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="OverrideCertificateCheck" value="False" />
  <add key="UseAutoDiscover" value="False"/>
  <add key="ServiceEmailAddress" value="service@domain.com" />
  <add key="ExchangeWebServicesURL" value="https://casserver.domain.com/EWS/Exchange.asmx" />
  <add key="CertificateSerialNumber" value="1" />
  <add key="ProfilerTimerLength" value="120000" />
  <add key="StorerTimerLength" value="30000" />
  <add key="DoNotProcessStart1" value="20:00:00" />
  <add key="DoNotProcessEnd1" value="23:59:59" />
  <add key="DoNotProcessStart2" value="00:00:00" />
  <add key="DoNotProcessEnd2" value="06:00:00" />
  <add key="DoNotProcessEnabled" value ="True" />
  <add key="MCEPDatabaseServer" value ="MCEPSQL" />
  <add key="MCEPDatabaseName" value="MCEPDatabase" />
  <add key="MCEPDatabaseLoginType" value="NT" />
  <add key="LogToFileEnabled" value ="True" />
  <add key="LogAllToEventLog" value="False" />
  <add key="MatterSphereServer" value ="MatterSphereSQL" />
  <add key="MatterSphereDatabase" value="MatterSphereDB" />
  <add key="MatterSphereLoginType" value="NT" />
  <add key="CompanyID" value="123456789" />
  <add key="TimeRecordingEnabled" value="True" />
  <add key="TimeRecordingActivityCodeOut" value="6" />
  <add key="TimeRecordingActivityCodeIn" value="5" />
  <add key="TimeRecordingUnits" value="1" />
  <add key="UseOAuth" value="False" />
  <add key="OAuthAppId" value="" />
  <add key="OAuthClientSecret" value="" />
  <add key="OAuthTenantId" value="" />
  <add key="OverrideExchangeCredentials" value="True" />
  <add key="ExcUserName" value="UserName" />
  <add key="ExcPassword" value="Password" />
  <add key="ExcDomain" value="Domain" />
</appSettings>