<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="URL" value="https://piptesta2a.crif.com/PIP.WSTK/PIPWSTK"/>
    <add key="UserName" value="Username"/>
    <add key="Password" value="Password"/>
    <add key="AsUser" value="Username1"/>
  </appSettings>
</configuration>
