IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sprE3EExportClients]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sprE3EExportClients]
GO

CREATE PROCEDURE [dbo].[sprE3EExportClients]
AS
--CHECK IF A CUSTOM VERSION EXISTS - MUST RETURN SAME COLUMNS AS STANDARD VERSION
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sprE3EExportClients_CUSTOM]') AND type in (N'P', N'PC'))
	EXEC [dbo].[sprE3EExportClients_CUSTOM]
ELSE

SELECT 
	DBCLIENT.CLID
	--TODO - Get Entity?  Address?
	, DBCLIENT.CLDEFAULTCONTACT AS DEFAULTCONTACTID
	, DBO.GETE3EENTITYPERSONEXPORTXML ( DBCLIENT.CLDEFAULTCONTACT ) AS ENTITYPERSON	
	, DBO.GETE3EENTITYORGEXPORTXML ( DBCLIENT.CLDEFAULTCONTACT ) AS ENTITYORG
	, DBO.GetE3EClientExportXML ( DBCLIENT.CLID ) AS CLIENT
	, CONTEXTID AS ENTITYINDEX
	
FROM         
	DBCLIENT
INNER JOIN 
	DBCONTACT ON DBCONTACT.CONTID = DBCLIENT.CLDEFAULTCONTACT
WHERE 
	DBCLIENT.clneedexport = 1 and 
	ISNULL ( DBCLIENT.clextID, 0 ) = 0 AND
	DBCONTACT.CONTEXTID > 0
