IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetE3EEntityPersonUpdateXML]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[GetE3EEntityPersonUpdateXML]
GO

CREATE FUNCTION [dbo].[GetE3EEntityPersonUpdateXML] ( @CONTID BIGINT )
RETURNS NVARCHAR ( MAX ) AS
BEGIN
DECLARE @XML NVARCHAR ( MAX ) 

--NOTE - SITE AND ADDRESS INFORMATION REMOVED - HOW BEST TO HANDLE THIS?

--OPTIONS
DECLARE @USEPROXYUSER			BIT
SET @USEPROXYUSER				= 0

--REPLACEMENT VARIABLES
--ENTITY BASED
DECLARE @COMMENT				NVARCHAR ( 4000 )

--ENTITYPERSON BASED
DECLARE @FIRSTNAME				NVARCHAR ( 50 )
DECLARE @MIDDLENAME				NVARCHAR ( 50 ) 
DECLARE @LASTNAME				NVARCHAR ( 50 )
DECLARE @BIRTHDATE				NVARCHAR ( 20 )
DECLARE @GENDER					NVARCHAR ( 1 ) 
DECLARE @SSNUMBER				NVARCHAR ( 50 )

--SITE/ADDRESS
DECLARE @SITE_DESCRIPTION		NVARCHAR ( 50 ) 
DECLARE @SITE_SITETYPE			NVARCHAR ( 50 ) 
DECLARE @STREET					NVARCHAR ( 64 )
DECLARE @ADDITIONAL1			NVARCHAR ( 64 ) 
DECLARE @ADDITIONAL2			NVARCHAR ( 64 )
DECLARE @CITY					NVARCHAR ( 64 )
DECLARE @COUNTY					NVARCHAR ( 64 )
DECLARE @STATE					NVARCHAR ( 16 )
DECLARE @ZIPCODE				NVARCHAR ( 20 )
DECLARE @COUNTRY				NVARCHAR ( 8 )

--OTHERS
DECLARE @PROXYUSER				NVARCHAR ( 50 )
DECLARE @CONTEXTID				BIGINT

--CHILDREN XML IF NEEDED
DECLARE @PHONEXML				NVARCHAR ( 1000 )
DECLARE @EMAILXML				NVARCHAR ( 1000 )

--IF CONTACT TYPE IS COMPANY THEN RETURN NULL AS THIS IS FOR ENTITYPERSON
DECLARE @CONTTYPEXML NVARCHAR ( MAX )
SELECT @CONTTYPEXML = TYPEXML FROM DBCONTACT INNER JOIN DBCONTACTTYPE ON DBCONTACT.CONTTYPECODE = DBCONTACTTYPE.TYPECODE WHERE CONTID = @CONTID

IF ( SELECT CHARINDEX ( 'GeneralType="Company"' , @CONTTYPEXML ) ) != 0
	RETURN NULL


--COLLECT THE DATA
SELECT
	@COMMENT					= ISNULL ( CONTNOTES , '' )
	, @FIRSTNAME				= ISNULL ( CASE 
									WHEN CHARINDEX ( ' ' , CONTCHRISTIANNAMES ) > 0 THEN SUBSTRING ( CONTCHRISTIANNAMES , 0 , CHARINDEX ( ' ' , CONTCHRISTIANNAMES ) ) 
									ELSE CONTCHRISTIANNAMES 
								END , 'MISSING')	--MAY BE ZERO LENGTH STRING
	, @MIDDLENAME				= ISNULL ( CASE 
									WHEN CHARINDEX  ( ' ' , CONTCHRISTIANNAMES ) = 0 THEN NULL
									WHEN CHARINDEX ( ' ' , CONTCHRISTIANNAMES ) > 0 THEN SUBSTRING ( CONTCHRISTIANNAMES , CHARINDEX ( ' ' , CONTCHRISTIANNAMES ) + 1 , LEN ( CONTCHRISTIANNAMES ) ) 
									ELSE CONTCHRISTIANNAMES 
								END , '' )
	, @LASTNAME					= ISNULL ( CONTSURNAME , 'MISSING' )
	, @BIRTHDATE				= CASE WHEN ISNULL ( DBCONTACTINDIVIDUAL.CONTDOB , '' ) = '' THEN '' ELSE CONVERT ( NVARCHAR ( 10 ) , DBO.UTCTOLOCALTIME ( DBCONTACTINDIVIDUAL.CONTDOB ), 126 ) + 'T00:00:00' END
	, @GENDER					= ISNULL ( CONTSEX , '' ) 
	, @SSNUMBER					= ISNULL ( CONTNINUMBER , '' )
	
	, @SITE_DESCRIPTION			= 'Default Address - MatterSphere'
	, @SITE_SITETYPE			= 'Billing'
	, @STREET					= ISNULL ( ADDLINE1 , 'MISSING' )
	, @ADDITIONAL1				= ISNULL ( ADDLINE2 , '' )
	, @ADDITIONAL2				= ISNULL ( ADDLINE3 , '' )
	, @CITY						= ISNULL ( ADDLINE4 , '' )
	, @COUNTY					= CASE CTRYCODE
									WHEN 'US' THEN ''
									WHEN 'CA' THEN ''
									WHEN 'AU' THEN ''
									ELSE ISNULL ( ADDLINE5 , '' )
								END 
	, @STATE					= CASE CTRYCODE
									WHEN 'US' THEN ISNULL ( ADDLINE5 , '' )
									WHEN 'CA' THEN ISNULL ( ADDLINE5 , '' )
									WHEN 'AU' THEN ISNULL ( ADDLINE5 , '' )
									ELSE ''
								END
	, @ZIPCODE					= ISNULL ( ADDPOSTCODE , '' )
	, @COUNTRY					= CTRYCODE
	
	--ID'S ETC
	, @CONTEXTID				= DBCONTACT.CONTEXTID
	, @PROXYUSER				= CASE WHEN @USEPROXYUSER = 1 THEN 'ProxyUser="' + CREATEDBY.USRADID + '"' ELSE '' END 
FROM 
	DBCONTACTINDIVIDUAL
INNER JOIN 
	DBCONTACT ON DBCONTACT.CONTID = DBCONTACTINDIVIDUAL.CONTID
INNER JOIN 
	DBADDRESS ON DBADDRESS.ADDID = DBCONTACT.CONTDEFAULTADDRESS
INNER JOIN 
	DBCOUNTRY ON DBCOUNTRY.CTRYID = DBADDRESS.ADDCOUNTRY
INNER JOIN 
	DBUSER CREATEDBY ON CREATEDBY.USRID = DBCONTACT.CREATEDBY
WHERE 
	DBCONTACTINDIVIDUAL.CONTID = @CONTID
	
--IF NOT ALREADY EXPORTED RETURN NULL
IF ISNUMERIC ( @CONTEXTID ) = 0 RETURN NULL

--CHECK FOR ADDRESS OF TYPE BILLING
IF EXISTS ( SELECT TOP 1 DBADDRESS.ADDID FROM DBADDRESS INNER JOIN DBCOUNTRY ON DBCOUNTRY.CTRYID = DBADDRESS.ADDCOUNTRY INNER JOIN DBCONTACTADDRESSES ON DBCONTACTADDRESSES.CONTADDID = DBADDRESS.ADDID WHERE DBCONTACTADDRESSES.CONTID = @CONTID AND DBCONTACTADDRESSES.CONTCODE = 'BILLING' AND DBCONTACTADDRESSES.CONTACTIVE = 1 )
BEGIN
	SELECT TOP 1
	@STREET						= ISNULL ( ADDLINE1 , 'MISSING' )
	, @ADDITIONAL1				= ISNULL ( ADDLINE2 , '' )
	, @ADDITIONAL2				= ISNULL ( ADDLINE3 , '' )
	, @CITY						= ISNULL ( ADDLINE4 , '' )
	, @COUNTY					= CASE CTRYCODE
									WHEN 'US' THEN ''
									WHEN 'CA' THEN ''
									WHEN 'AU' THEN ''
									ELSE ISNULL ( ADDLINE5 , '' )
								END 
	, @STATE					= CASE CTRYCODE
									WHEN 'US' THEN ISNULL ( ADDLINE5 , '' )
									WHEN 'CA' THEN ISNULL ( ADDLINE5 , '' )
									WHEN 'AU' THEN ISNULL ( ADDLINE5 , '' )
									ELSE ''
								END

	, @ZIPCODE					= ISNULL ( ADDPOSTCODE , '' )
	, @COUNTRY					= CTRYCODE
FROM
	DBADDRESS
INNER JOIN 
	DBCOUNTRY ON DBCOUNTRY.CTRYID = DBADDRESS.ADDCOUNTRY
INNER JOIN 
	DBCONTACTADDRESSES ON DBCONTACTADDRESSES.CONTADDID = DBADDRESS.ADDID
WHERE
	DBCONTACTADDRESSES.CONTID = @CONTID AND
	DBCONTACTADDRESSES.CONTCODE = 'BILLING' AND 
	DBCONTACTADDRESSES.CONTACTIVE = 1
ORDER BY 
	CONTORDER ASC
END 

--ANY REQUIRED FIELDS - FOUND FIRST NAME WAS REQUIRED 
IF LEN ( @FIRSTNAME ) = 0 SET @FIRSTNAME = 'MISSING'
IF LEN ( @LASTNAME ) = 0 SET @LASTNAME = 'MISSING'

SET @XML = 
'<EntityPerson_Srv xmlns="http://elite.com/schemas/transaction/process/write/EntityPerson_Srv" ' + @PROXYUSER + '>
  <Initialize xmlns="http://elite.com/schemas/transaction/object/write/EntityPerson">
   <Edit>
    <EntityPerson KeyValue = "' + CONVERT ( NVARCHAR ( 20 ) , @CONTEXTID ) + '">
     <Attributes>
      <Comment>' +		DBO.GETHTMLENCODE ( @COMMENT, 0 )				+ '</Comment>
      <FirstName>' +	DBO.GETHTMLENCODE ( @FIRSTNAME, 0 )				+ '</FirstName>
      <MiddleName>' +	DBO.GETHTMLENCODE ( @MIDDLENAME, 0 )			+ '</MiddleName>
      <LastName>' +		DBO.GETHTMLENCODE ( @LASTNAME, 0 )				+ '</LastName>
      <BirthDate>' +						@BIRTHDATE					+ '</BirthDate>
      <Gender>' +							@GENDER						+ '</Gender>
      <SSNumber>' +		DBO.GETHTMLENCODE ( @SSNUMBER, 0 )				+ '</SSNumber>
     </Attributes>
	 <Children>
      <Relate>
       <Edit>
        <Relate Position="0">
         <Children>
          <Site>
           <Edit>
            <Site KeyValue="%SITEINDEX%">
             <Attributes>
              <Description>' +						@SITE_DESCRIPTION			+ '</Description>
              <SiteType>' +							@SITE_SITETYPE				+ '</SiteType>
              <Street>' +		DBO.GETHTMLENCODE ( @STREET, 0 )				+ '</Street>
              <Additional1>' +	DBO.GETHTMLENCODE ( @ADDITIONAL1, 0 )			+ '</Additional1>
              <Additional2>' +	DBO.GETHTMLENCODE ( @ADDITIONAL2, 0 )			+ '</Additional2>
              <City>' +			DBO.GETHTMLENCODE ( @CITY, 0 )					+ '</City>
              <County>' +		DBO.GETHTMLENCODE ( @COUNTY, 0 )				+ '</County>
              <State>' +		DBO.GETHTMLENCODE ( @STATE, 0 )					+ '</State>
              <ZipCode>' +		DBO.GETHTMLENCODE ( @ZIPCODE, 0 )				+ '</ZipCode>
              <Country>' +							@COUNTRY					+ '</Country>
			  <IsDefault>1</IsDefault>
             </Attributes>
            </Site>
           </Edit>
          </Site>
         </Children>
        </Relate>
       </Edit>
      </Relate>
     </Children>
    </EntityPerson>
   </Edit>
  </Initialize>
 </EntityPerson_Srv>'


RETURN @XML
END
GO