<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FWBS.OMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <FWBS.OMS.Properties.Settings>
      <setting name="OMS_Library_SearchQueryService_QueryService" serializeAs="String">
        <value>http://test/_vti_bin/search.asmx</value>
      </setting>
      <setting name="OMS_Library_ReportingService2006_ReportingService2006"
        serializeAs="String">
        <value>http://test:80/ReportServer_SQL2008/ReportService2005.asmx</value>
      </setting>
      <setting name="OMS_Library_ReportingService2005_ReportingService"
        serializeAs="String">
        <value>http://test/ReportServer/ReportService.asmx</value>
      </setting>
    </FWBS.OMS.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
